@tailwind base;
@tailwind components;
@tailwind utilities;

/* npx tailwindcss -i ./assets/css/main.css -o ./dist/output.css --watch */

@font-face {
  font-family: "Halvar";
  src: url("../assets/fonts/HalvarBreit-Bd.woff") format("woff"),
    url("../assets/fonts/HalvarBreit-Bd.woff2") format("woff2");

  font-weight: 700;
}
@font-face {
  font-family: "Halvar";
  src: url("../fonts/HalvarBreit-Md.woff") format("woff"),
    url("../fonts/HalvarBreit-Md.woff2") format("woff2");

  font-weight: 500;
}
@font-face {
  font-family: "Halvar";
  src: url("../fonts/HalvarBreit-Rg.woff") format("woff"),
    url("../fonts/HalvarBreit-Rg.woff2") format("woff2");

  font-weight: 400;
}
@font-face {
  font-family: "Actay";
  src: url("../fonts/Actay-Regular.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Actay";
  src: url("../fonts/ActayWide-Bold.otf") format("opentype");
  font-weight: 700;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Halvar', sans-serif;
  background-color: #151515;
  min-width: 320px;
  overflow-x: hidden;
}

.l-wrapper {
  max-width: 1536px;
  margin: 0 auto;
  padding: 0 178px;
}

a {
  font-family: 'Halvar', sans-serif;
}

.js-main-banner {
  overflow: visible !important;
}

.swiper-button-next.css-btn__next {
  background: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1.5' y='1.5' width='47' height='47' rx='23.5' stroke='%23F3F2EA' stroke-width='3'/%3E%3Cpath d='M22.5313 12.7413L31.7205 21.9306C32.1237 22.3336 32.4435 22.8121 32.6617 23.3388C32.8799 23.8655 32.9922 24.4299 32.9922 25C32.9922 25.5701 32.8799 26.1346 32.6617 26.6612C32.4435 27.1879 32.1237 27.6664 31.7205 28.0695L22.5313 37.2587L18.849 33.5747L27.4306 25L18.856 16.4254L22.5313 12.7413Z' fill='%23F3F2EA'/%3E%3C/svg%3E%0A")
  no-repeat;
  width: 50px;
  height: 50px;
}
.swiper-button-prev.css-btn__prev {
  background: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1.5' y='1.5' width='47' height='47' rx='23.5' stroke='%23F3F2EA' stroke-width='3'/%3E%3Cpath d='M22.5313 12.7413L31.7205 21.9306C32.1237 22.3336 32.4435 22.8121 32.6617 23.3388C32.8799 23.8655 32.9922 24.4299 32.9922 25C32.9922 25.5701 32.8799 26.1346 32.6617 26.6612C32.4435 27.1879 32.1237 27.6664 31.7205 28.0695L22.5313 37.2587L18.849 33.5747L27.4306 25L18.856 16.4254L22.5313 12.7413Z' fill='%23F3F2EA'/%3E%3C/svg%3E%0A")
  no-repeat;
  transform: rotate(180deg);
  width: 50px;
  height: 50px;
}
.swiper-button-next::after {
  display: none;
}
.swiper-button-prev::after {
  display: none;
}

.counter {
  margin-top: 5px;
}

.counter span {
  font-size: 30px;
  line-height: 35px;
  color: #F3F2EA;
  font-weight: 700;
}

.counter span:last-child {
  opacity: 0.3;
}

.js-swiper-news__next,
.js-swiper-news__prev {
  position: unset !important;
  margin-top: unset !important;
}

.bg-kacheli-photo {
  background: url('../img/bg-kacheli.png') no-repeat center/cover;
  
}

.img-border img {
  position: relative;
  z-index: 10;
}
.img-border::before {
  content: '';
  position: absolute;
  right: -10px;
  bottom: -10px;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: #C3C3C3;
}

.img-border:hover:before {
  background: #C32E44;
}

.l-header__body {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  background-color: #1C1C1C;
  z-index: 50;
  transform: translateY(-100vh);
  transition: all .4s ease;
}

.l-header__body.active {
  transform: translateY(0);
}

.text-dots {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 1400px) {
  
  .l-wrapper {
  padding: 0 100px;
  }
}

@media screen and (max-width: 1250px) {
  
  .l-wrapper {
  padding: 0 50px;
  }
}

@media screen and (max-width: 768px) {
  
  .js-swiper-news{
    overflow: visible !important;
  }
}



@media screen and (max-width: 560px) {
  
  .l-wrapper {
  padding: 0 22px;
  }
}